.composeContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 80vh; /* 최대 높이를 화면의 80%로 제한 */
  overflow-y: auto; /* 높이가 초과되면 스크롤 생성 */
}

h2 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative; /* Input 내부에 버튼을 위치시키기 위해 */
}

.formGroup label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.formGroup input,
.formGroup textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%; /* 버튼 크기만큼 width 조절 제거 */
  box-sizing: border-box; /* border와 padding을 포함한 width 계산 */
}

.formGroup input.withButton {
  padding-right: 40px; /* 버튼 공간 확보 */
}

.formGroup input[type="file"] {
  padding: 0;
}

.addButton {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 14px;
}

.addButton:hover {
  background-color: #0056b3;
}

textarea {
  height: 200px;
}

.submitButton {
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submitButton:hover {
  background: #0056b3;
}

.dropdownButton {
  position: absolute;
  right: 10px; /* input의 우측에 위치 */
  top: 50%;
  transform: translateY(-50%); /* 가운데 정렬 */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem; /* 버튼 크기 조절 */
  padding: 0;
  margin: 0;
  color: #000; /* 화살표 색상 */
  outline: none;
}

.departmentList {
  position: absolute; /* 부모 요소를 기준으로 위치를 설정 */
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-height: 200px; /* 스크롤 생성을 위한 최대 높이 설정 */
  overflow-y: auto; /* 스크롤바 생성 */
  width: 100%; /* 부모 요소의 넓이에 맞춤 */
  left: 0; /* 부모 요소의 왼쪽 경계에 맞춤 */
  z-index: 1000; /* 다른 요소 위에 위치하도록 설정 */
  margin-top: 2px; /* input 요소와 약간의 간격 추가 */
}

.departmentList div {
  padding: 10px;
  cursor: pointer;
}

.departmentList div:hover {
  background-color: #f1f1f1;
}

.inputReadOnly {
  background-color: #f0f0f0; /* 회색 배경 */
  cursor: not-allowed; /* 포인터 커서를 금지 표시로 변경 */
}
