.Container {
  padding-left: 10px;
}

.app {
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.header button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.header button:hover {
  background-color: #e0e0e0;
}

.header span {
  font-size: 16px;
  font-weight: bold;
}

.calendar {
  display: grid;
  grid-template-columns: 100px repeat(24, 1fr); /* 첫 번째 열은 요일, 나머지는 시간 */
  gap: 1px;
  width: 100%; /* 전체 너비 사용 */
}

.timeRow {
  grid-column: 2 / -1; /* 두 번째 열부터 끝까지 시간 열을 차지 */
  display: contents; /* 시간 셀들이 각각의 그리드 셀에 배치되도록 */
}

.dateRow {
  display: contents; /* 날짜 셀들이 각각의 그리드 셀에 배치되도록 */
}

.timeCell {
  background-color: #f7f7f7;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.dayCell {
  grid-column: 1; /* 첫 번째 열에 고정 */
  background-color: #f7f7f7;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.cell {
  border-left: none; /* 세로선 제거 */
  border-right: none; /* 세로선 제거 */
  height: 60px; /* 각 행의 높이를 더 늘림 */
  position: relative; /* 의사 요소의 포지셔닝을 위해 필요 */
}

.cell::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1); /* 불투명한 선 */
}

.workHour {
  background-color: #f0f8ff;
}

.selected {
  background-color: #eaf7ff;
}

.event, .approvedLeave, .pendingLeave {
  border: none;
  color: #333;
  border-radius: 4px;
  padding: 2px 5px;
  height: 90%; /* 높이를 조금 더 키워 빈 공간 최소화 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0; /* 여백 초기화 */
  overflow: hidden;
  text-align: center;
  width: 100%;
  font-size: 12px;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-shadow: none; /* 그림자 제거 */
}

.event::before, .approvedLeave::before, .pendingLeave::before {
  content: none; /* 가상 요소로 추가된 그림자 제거 */
}

.event span, .approvedLeave span, .pendingLeave span {
  font-size: calc(10px + 0.4vw); /* 텍스트 크기가 부모 요소에 맞게 조정되도록 설정 */
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1.2;
}

.approvedLeave {
  background-color: #007bff; /* 파란색 */
  color: white;
}

.pendingLeave {
  background-color: #87CEFA; /* 하늘색 */
  color: black;
}
