.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 20px;
    padding-top : 20px;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}

.toggleGroup {
    display: flex;
    align-items: center;
    gap: 15px;
}

.toggleButton {
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
    color: #999;
    font-weight: normal;
    transition: color 0.3s, font-weight 0.3s;
}

.selected {
    color: #000;
    font-weight: bold;
}

.registerButton {
    padding: 8px 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.registerButton:hover {
    background-color: #e0e0e0;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registerButton:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}
