.mailItem {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.mailItem:hover {
    background-color: #e0e0e0; 
    border-color: #b0b0b0;
}

.mailInfo {
    display: flex;
    justify-content: space-between;
}

.mailSender {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.mailDate {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* 아이콘을 텍스트와 수직으로 정렬 */
}

.attachmentIcon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    vertical-align: middle;
}
