.mailItem {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.mailItem:hover {
    background-color: #e0e0e0; 
    border-color: #b0b0b0;
}

.mailInfo{
    display: flex;
}

.mailSender{
    flex:1;
}

.mailSender span{
    display: flex;
    justify-content: flex-start;
}

.mailDate{
    flex:1;
}

.mailDate{
    display: flex;
    justify-content: flex-end;
}


.mailSubject{
    display: flex;
    margin-top: 6px;
}


