.mailItem {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #d1d5da;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mailItem:hover {
    background-color: #f1f3f5; /* Light hover effect */
}

.mailInfo {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #606770;
}

.mailSender {
    font-weight: bold;
}

.mailDate {
    color: #9098a0;
    font-size: 12px;
}

.attachmentIcon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}
