/* CSS 스타일 */
.CardMain {
    overflow: hidden; /* 넘치는 내용을 숨기기 */
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
}

.Card {
    padding: 10px;
    box-sizing: border-box;
}

.CardText {
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
    max-width: 100%;
}

.CardTitle {
    margin-bottom: 0.5rem;
}

.CardCountContainer {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.CardCount {
    margin: 0;
}
