.attendanceLayout {
    display: flex;
    height: 100vh;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 6px;
    flex-direction: column;
} 

.attendanceBody{
    display: flex;
    overflow-x: auto;
}

.contentArea {
    flex-grow: 1;
    display: flex;
    /* flex-direction: column; */
    
}

.contents {
    margin-left: 30px;
}