.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub_container {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  display: flex;
  gap: 10px;
}
.sidebar {
  width: 180px;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  background-color: #85d2ff;
  border: 0.5px solid #D9D9D9;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.category {
  background-color: white;
  border: 0.5px solid #D9D9D9;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: 200px;
  flex-shrink: 0;
  height: 100%;
}
.content {
  background-color: white;
  border: 0.5px solid #D9D9D9;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  flex-shrink: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.profileDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details {
  background-color: #fff;
  padding: 8px; /* 패딩을 줄임 */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px; /* 최대 너비 */
  margin: 0 auto;
}
.details h2 {
  margin-top: 0;
}
.formGroup {
  margin-bottom: 10px; /* 폼 그룹 간의 간격을 줄임 */
}
.formGroup label {
  display: block;
  margin-bottom: 5px;
}
.formGroup input {
  width: 100%;
  padding: 6px; /* 입력 필드의 패딩을 줄임 */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.adminActions {
  margin-top: 10px; /* 관리자 작업 버튼의 간격을 줄임 */
}
.adminActions button {
  margin-right: 10px;
  padding: 8px 16px; /* 버튼의 패딩을 줄임 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.mypage-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px; /* 버튼의 패딩을 줄임 */
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.mypage-button:hover {
  background-color: #0056b3;
}

.adminActions button {
  background-color: #28a745;
  margin-right: 10px;
}
.adminActions button:hover {
  background-color: #218838;
}
.adminActions button:last-child {
  background-color: #dc3545;
}
.adminActions button:last-child:hover {
  background-color: #c82333;
}
