.Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
}

.Header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.MonthInput {
    width: 200px;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 15px;
    margin-bottom: 15px;
}

.VacationButton {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border: none !important; /* border를 제거 */
    background-color: #87CEEB !important; /* 하늘색 */
    color: white !important;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* 버튼을 컨테이너의 전체 너비로 설정 */
    max-width: 120px; /* 최대 너비 설정 */
    
    
}


.VacationButton:hover {
    background-color: #0056b3;
}

.CardDiv {
    display: flex;
    gap: 0;
    justify-content: space-between;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Card {
    flex: 1;
    margin: 0;
    border: none;
    border-right: 1px solid #ddd;
}

.Card:last-child {
    border-right: none;
}

.TableContainer {
    overflow-x: auto;  /* 가로 스크롤 추가 */
}

.ModalBody {
    max-height: 400px;
    overflow-y: auto;  /* 세로 스크롤 */
}

.TableHeader,
.TableRow {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    min-width: 800px;  /* 테이블의 최소 너비를 설정하여 스크롤 유도 */
}

.TableHeader {
    background-color: #f8f9fa;
    font-weight: bold;
}

.TableCell {
    flex: 1;
    text-align: center;
    padding: 8px;
    overflow: hidden;
    white-space: nowrap;
}

.TableCell:last-child {
    flex: 0.5;
}




