.loginContainer {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #85d2ff;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.loginForm {
background: #ffffff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 350px;
}

.tabs {
display: flex;
justify-content: space-around;
margin-bottom: 20px;
}

.tabs span {
color: #000;
cursor: pointer;
padding-bottom: 5px;
}

.tabs .active {
border-bottom: 2px solid #000;
}

.inputContainer {
display: flex;
flex-direction: column;
margin-bottom: 10px;
}

input,
select {
display: block;
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
}

input {
margin-bottom: 5px;
}

.credentialsContainer {
margin-bottom: 10px;
}

.loginButton {
width: 100%;
padding: 10px;
background-color: #0cb8f7;
border: none;
border-radius: 5px;
color: #fff;
cursor: pointer;
margin-top: 10px;
}

.checkboxContainer {
display: flex;
align-items: center;
margin-bottom: 10px;
}

.checkboxContainer input[type="checkbox"] {
width: 16px; 
height: 16px; 
margin-right: 5px; 
}

.checkboxContainer label {
font-size: 14px; 
}

.resetLink {
color: #007bff;
cursor: pointer;
text-align: center;
margin-top: 10px;
text-decoration: none;
transition: color 0.3s ease;
}

.resetLink:hover {
color: #0056b3; 
}

.backLink {
display: block;
color: #007bff;
cursor: pointer;
text-align: center;
margin-top: 20px;
text-decoration: none; 
transition: color 0.3s ease; 
}

.backLink:hover {
color: #0056b3; 
}

.welcomeMessage {
font-size: 20px;
font-weight: bold;
text-align: center;
margin-top: 20px;
}

.adminActions {
display: flex;
justify-content: space-between;
margin-top: 20px;
width: 100%;
}

.adminButton {
padding: 10px 20px;
background-color: #f44336; /* 기본 버튼 배경색 */
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.adminButton:hover {
background-color: #d32f2f; /* 호버 시 배경색 */
}

.userList {
margin-top: 20px;
}

.userItem {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}

.userItem span {
font-size: 16px;
}
