.sidebar {
  width : 180px;
  display : flex;
  flex-shrink: 0;
  height : 97%;
  background-color: #3db8ff;
  border : 0.5px solid #D9D9D9;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.25);
}

.category {
  background-color: white;
  border : 0.5px solid #D9D9D9;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.25);

  width : 200px;
  flex-shrink: 0;
  height : 100%;
}

.content {
  background-color: white;
  border : 0.5px solid #D9D9D9;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.25);

  width: 100%;
  flex-shrink: 1;
  height : 100%;
}

.sidebar_container {
  width : calc(100% - 20px);
  height : calc(100% - 20px);
  display: flex;
  flex-direction: column;
}

.icon {
  width: min-content;
  padding : 5px 6px;
  background-color: #55a2cf;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.25);
}

.icon:hover {
  background-color: #4c89ac;
}

.company_name {
  margin-top: 20px;
  color : white;
  width: 100%;
  text-align: center;
}

.company_name h1 {
  font-size: x-large;
}

.user_info * {
  color : white;
  padding: 0;
  margin: 0;
  height: 30px;
}

.user_img_box {
  background-color: white;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  margin-top: 20px; /* 이미지를 아래로 내리기 위한 여백 추가 */
  margin-left: -10px;
}

.user_img_box .user_img {
  width: 70%;
  height: 70%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.user_img path {
  color: #55a2cf;
}

.user_info { 
  padding-left: 10px;
}

.user_info > h1 {
  padding-top: 5px;
  font-size: large;
}

.user_info > p {
  font-size: small;
}

.side_group {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-left: 10px;
}

.side_list {
  padding-top: 10px;
}

.list_item {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: 800;
  gap: 10px;
  padding: 10px 20px; /* 클릭할 수 있는 영역을 넓히기 위해 패딩 추가 */
  cursor: pointer; /* 마우스를 올렸을 때 클릭 가능한 영역임을 나타냄 */
  text-decoration: none; /* a 태그의 기본 밑줄 제거 */
}

.list_item > h3 {
  margin: 0;
  padding: 0;
}


.link {
  text-decoration: none;
  color: white;
  font-weight: 800;
}

.link:hover {
  color: #ccc; /* Optional: Change color on hover */
}

/* 사이드바가 접혔을 때 스타일 */
.sidebar[style*="width: 50px"] .user_img_box {
  width: 100px; /* 사이드바 접힘 상태에서 이미지 크기 */
  height: 100px; /* 사이드바 접힘 상태에서 이미지 크기 */
  margin-right: 10px; /* 이미지 중앙 배치 */
  transition: width 0.3s, height 0.3s;
}

