/* src/components/List/List.module.css */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* 전체 크기를 포함하도록 설정 */
}

.sub_container {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    display: flex;
    gap: 10px;
    box-sizing: border-box; /* 전체 크기를 포함하도록 설정 */
}

.sidebar {
    width: 180px;
    display: flex;
    flex-shrink: 0;
    height: 100%;
    background-color: #85d2ff;
    border: 0.5px solid #D9D9D9;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box; /* 전체 크기를 포함하도록 설정 */
}

.category {
    background-color: white;
    border: 0.5px solid #D9D9D9;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    flex-shrink: 0;
    height: 100%;
    box-sizing: border-box; /* 전체 크기를 포함하도록 설정 */
}

.content {
    background-color: white;
    border: 0.5px solid #D9D9D9;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    flex-shrink: 1;
    height: 100%;
    box-sizing: border-box; 
    display : flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

.sidebar_container {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
}

.icon {
    width: min-content;
    padding: 5px 6px;
    background-color: #55a2cf;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.icon:hover {
    background-color: #4c89ac;
}

.company_name {
    margin-top: 20px;
    color: white;
    width: 100%;
    text-align: center;
}

.company_name h1 {
    font-size: x-large;
}

.user_info * {
    color: white;
    padding: 0;
    margin: 0;
}

.user_img_box {
    background-color: white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* 전체 크기를 포함하도록 설정 */
}

.user_img_box .user_img {
    width: 70%;
    height: 70%;
    padding: 0;
    margin: 0;
}

.user_img path {
    color: #55a2cf;
}

.user_info {
    padding-left: 10px;
}

.user_info > h1 {
    padding-top: 5px;
    font-size: large;
}

.user_info > p {
    font-size: small;
}

.side_group {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding-left: 10px;
}

.side_list {
    padding-top: 10px;
}

.list_item {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-weight: 800;
    gap: 10px;
    padding: 10px 0;
}

.list_item > h3 {
    margin: 0;
    padding: 0;
}

.category_content h1 {
    text-align: center;
}
