/* 버튼 기본 스타일 */
.button {
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 5px;
}

/* 버튼에 마우스를 올렸을 때 */
.button:hover {
    background-color: #007bff;
    color: #ffffff;
}

/* 버튼을 클릭했을 때 */
.button:active {
    background-color: #0056b3;
    color: #ffffff;
}

/* 버튼에 포커스가 갔을 때 */
.button:focus {
    outline: none;
    background-color: #0056b3;
    color: #ffffff;
}

.container {
    width: calc(100% - 40px);
    padding: 20px;
    position: relative; /* 버튼을 우측 상단에 위치시키기 위해 상대 위치 설정 */
}

.header {
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: 600;
}

.body, .content {
    font-size: 1rem;
    color: #555;
}

.body div, .content div {
    margin-bottom: 15px;
    line-height: 1.6;
}

.body strong, .content strong {
    font-weight: 600;
    color: #333;
}

.content {
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
    margin-top: 20px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    overflow-y: auto;
    max-height: 300px;
}

/* 버튼 컨테이너를 우측 상단에 위치시키기 위한 스타일 */
.button_Container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.button_Container.edit_Container {
    top: 20px; /* Edit 버튼 위치 조정 */
}

.button_Container.back_Container {
    top: 60px; /* 뒤로가기 버튼 위치 조정 */
}
