.container {
    width: calc(100% - 40px);
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    margin: 20px auto;
}

.header {
    border-bottom: 2px solid #f0f0f0;
    margin-bottom: 20px;
}

.title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.content {
    font-size: 1rem;
    color: #555;
}

.content div {
    margin-bottom: 10px;
}

.content strong {
    font-weight: bold;
    color: #333;
}
