.main_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f0f8ff;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
}

.left_column {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right_column {
  margin-left: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calendar, .notice, .attendance, .vacation {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.calendar {
  height: 100%;
  min-height: 300px;
  overflow-y: auto;
}

.calendar h2, .notice h2, .attendance h2, .vacation h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* 캘린더 항목 스타일 */
.calendar_item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.calendar_item:last-child {
  border-bottom: none;
}

.date {
  flex-basis: 30%;
  font-weight: bold;
}

.event {
  flex-basis: 40%;
  text-align: left;
}

.time {
  flex-basis: 30%;
  text-align: right;
  color: #888;
}

/* 공지사항 항목 스타일 */
.notice{
  height: 100%;
  min-height: 300px;
  overflow-y: auto;
}

.notice_item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.notice_item:last-child {
  border-bottom: none;
}

.category {
  flex-basis: 20%;
  font-weight: bold;
  color: #007bff;
}

.title {
  flex-basis: 50%;
  text-align: left;
}

.notice_date {
  flex-basis: 30%;
  text-align: right;
  color: #888;
}

/* 출근 현황 항목 스타일 */
.attendance_item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.attendance_item:last-child {
  border-bottom: none;
}

.attendance_label {
  flex-basis: 40%;
  font-weight: bold;
}

.attendance_status {
  flex-basis: 30%;
  text-align: center;
  color: #28a745; /* 출근 완료 상태를 나타내는 초록색 */
}

.attendance_time {
  flex-basis: 30%;
  text-align: right;
  color: #888;
}

/* 휴가 현황 항목 스타일 */
.vacation_item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.vacation_item:last-child {
  border-bottom: none;
}

.vacation_label {
  flex-basis: 50%;
  font-weight: bold;
}

.vacation_days {
  flex-basis: 50%;
  text-align: right;
  color: #888;
}
