.main_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f0f8ff;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
}

.left_column {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right_column {
  margin-left: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;  /* 높이 균형 조정 */
  justify-content: space-between;
}

.notice {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.notice h2, .attendance h2, .vacation h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* 공지사항 항목 스타일 */
.notice {
  height: 100%;
  min-height: 300px;
  /* overflow-y: auto; */
}

.notice_item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.notice_item:last-child {
  border-bottom: none;
}

.category {
  flex-basis: 20%;
  font-weight: bold;
  color: #007bff;
}

.title {
  flex-basis: 50%;
  text-align: left;
}

.notice_date {
  flex-basis: 30%;
  text-align: right;
  color: #888;
}



